* {
    background-color: purple;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label[for="idTarefa"]{
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnAddTarefa {
    background-color: blue;
}
